Repository magicl/olib: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, pylint, mypy, pyupgrade, unify, black, bandit, eslint, tsc, cargo-check, cargo-clippy, cargo-fmt, cargo-test

Path conditions:
  yamllint: any of: \.ya?ml$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pyupgrade: any of: \.py$
  unify: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$, but not: .*tests.*
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: \.rs$

log color is now working
  py/django/app/settingsbase.py
  py/django/utils/logutils.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

watch more files
  py/cli/run/utils/watch.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

fix: requirements_dev.txt to reduce vulnerabilities
  requirements_dev.txt
Due: none

docker wipe
  scripts/wipe-docker.sh
Due: none

postgres backup
  py/cli/run/utils/postgres_backup.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

fix for postgres backup
  py/cli/run/utils/postgres_backup.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

new pre-comit
  .pre-commit-config.yaml
Due: yamllint

support for customized container lists
  py/cli/run/templates/buildSingleService.py
  scripts/wipe-docker.sh
Due: pylint, mypy, pyupgrade, unify, black, bandit

combined file+console email backend
  py/django/test/combined_email_backend.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

pre-commit versions
  .pre-commit-config.yaml
Due: yamllint

django/postgres mgmt fixes
  py/cli/run/templates/django_.py
  py/cli/run/templates/mysql.py
  py/cli/run/templates/postgres.py
  py/django/app/settingsbase.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

type fix
  py/cli/run/templates/django_.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

type fixes
  py/cli/run/templates/django_.py
Due: pylint, mypy, pyupgrade, unify, black, bandit
