Repository magicl/olib: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, pyupgrade, unify, black, bandit, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      #Checkers
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: '/templates/'
      - id: check-json
      - id: check-xml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
        exclude: '.*\\.json'
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: double-quote-string-fixer #Does the same as unify, but unify is lagging
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
        exclude: '/templates/'
  # Only checks styles.. Does not fix them, so too much work :)
  # - repo: https://github.com/openstack/bashate
  #   rev: 2.1.1
  #   hooks:
  #   - id: bashate
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
  - repo: local
    hooks:
      - id: license-update
        name: license headers
        entry: bash
        args: ['-c', '$OLIB_PATH/scripts/license-update.py --license $(python -m ${OLIB_MODULE} get --license)']
        language: system
        types_or: [python, sh, javascript, jsx, css, scss, c, c++]
      - id: pylint
        name: pylint
        entry: bash
        language: system
        types: [python]
        args: ['-c', 'python -m ${OLIB_MODULE} py lint --quiet $@', '--']
      - id: mypy
        name: mypy
        entry: bash
        language: system
        types: [python]
        args: ['-c', 'python -m ${OLIB_MODULE} py mypy --no-install-types $@', '--']
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: python
        types_or: [cython, pyi, python]
        args: ['--filter-files', '--profile=black', #For interop with black
        ]
        minimum_pre_commit_version: '2.9.2'
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade
        language: system
        types: [python]
        args: ['--py312-plus']
      - id: unify
        name: unify
        entry: unify
        language: system
        types: [python]
        args: ['--in-place', "--quote='"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ['--line-length=120', '--skip-string-normalization', '--target-version=py312']
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        exclude: '.*tests.*'
        args: ['--silent'] #, '--format', 'custom', '--msg-template', '{abspath}:{line}: {test_id}[{range}]: {severity}/{confidence}: {msg}']
      - id: eslint
        name: eslint
        entry: bash
        language: system
        types_or: [javascript, jsx, ts, tsx]
        args: ['-c', 'python -m ${OLIB_MODULE} js lint $@', '--']
default_language_version:
  python: python3.12

more type annotation fixes
  py/ansible/library/gsetting.py
  py/cli/run/templates/base.py
  py/cli/run/tests.py
  py/cli/run/utils/mysql_backup.py
  py/cli/run/utils/redis_utils.py
  py/cli/run/utils/remote.py
  py/django/celery_workers/tasks.py
  py/django/conf/remote.py
  py/utils/clients/google/sheets.py
  py/utils/clients/infisical.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

mypy fixes
  config/mypy
  py/cli/run/templates/base.py
  py/cli/run/templates/redis.py
  py/cli/run/templates/remote.py
  py/django/app/jinja2env.py
  py/django/celery_workers/tasks.py
  py/django/conf/remote.py
  py/django/test/cases.py
  py/utils/clients/google/sheets.py
  py/utils/clients/infisical.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

type fixes
  py/django/test/cases.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

type fixes
  py/django/test/runner.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

type fixes
  py/cli/run/templates/buildSingleService.py
  py/cli/run/tools/js.py
  py/cli/run/tools/py.py
  py/django/conf/osettings.py
  py/django/conf/tests.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

type fixes
  py/cli/run/run.py
  py/cli/run/templates/infisical.py
  py/cli/run/templates/postgres.py
  py/cli/run/templates/redis.py
  py/cli/run/utils/remote.py
  py/django/_app/manage.py
  py/django/app/jinja2env.py
  py/django/app/monkeypatches.py
  py/django/app/urlpatterns.py
  py/django/celery_workers/apps.py
  py/django/celery_workers/checks.py
  py/django/celery_workers/initialization.py
  py/django/commands/management/commands/ensure_superuser.py
  py/django/commands/management/commands/hash_password.py
  py/django/commands/management/commands/runserver_verbose.py
  py/django/commands/management/commands/update_permission_groups.py
  py/django/conf/apps.py
  py/django/conf/graphql.py
  py/django/test/__init__.py
  py/django/test/network.py
  py/django/utils/logutils.py
  py/tests/utils/test_csv.py
  py/tests/utils/test_date.py
  py/tests/utils/test_encrypt.py
  py/tests/utils/test_execenv.py
  py/tests/utils/test_file.py
  py/tests/utils/test_math.py
  py/tests/utils/test_secretsfile.py
  py/utils/clients/google/sheets.py
  py/utils/csv.py
  py/utils/file.py
  py/utils/xls.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

js init fixes
  scripts/bootstrap.js.sh
  scripts/init-js.sh
Due: none

stricter mypy
  config/mypy
Due: none

more strict
  config/mypy
  py/cli/run/templates/django_.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

now automatically creating merged kubeconfig for multiple clusters
  .pre-commit-config.yaml
  py/cli/run/tools/k8s.py
  requirements_dev.txt
Due: pylint, mypy, pyupgrade, unify, black, bandit

comment fix
  scripts/bootstrap.py.sh
Due: none

fix: requirements_dev.txt to reduce vulnerabilities
  requirements_dev.txt
Due: none

mypy fixes
  config/mypy
  py/cli/run/context.py
  py/cli/run/templates/__init__.py
  py/cli/run/templates/buildSingleService.py
  py/cli/run/templates/django_.py
  py/cli/run/templates/mysql.py
  py/cli/run/tools/dev.py
  py/cli/run/tools/k8s.py
  py/cli/run/tools/py.py
  py/cli/run/utils/mysql.py
  py/cli/run/utils/mysql_backup.py
  py/cli/run/utils/postgres.py
  py/cli/run/utils/template.py
  py/django/app/urlpatterns.py
  py/django/conf/osettings.py
  py/django/test/cases.py
  py/django/test/runner.py
  py/utils/clients/infisical.py
  py/utils/execenv.py
  py/utils/file.py
  py/utils/kubernetes.py
  py/utils/request.py
  py/utils/wait.py
  py/utils/xls.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

mypy fixes
  py/cli/run/tests.py
  py/django/conf/graphql.py
  py/django/conf/models/__init__.py
  py/django/conf/osettings.py
  py/utils/uuid7.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

fix
  py/django/test/runner.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

custom stubs for strawberry_django
  config/mypy
  py/stubs/strawberry_django.pyi
Due: none

stubs for parproc
  config/mypy
  py/stubs/__init__.py
  py/stubs/parproc.pyi
Due: pylint, mypy, pyupgrade, unify, black, bandit

more type fixes
  config/mypy
  py/cli/run/templates/buildSingleService.py
  py/stubs/strawberry_django.pyi
Due: pylint, mypy, pyupgrade, unify, black, bandit

fixed regressions
  py/cli/run/templates/redis.py
  py/cli/run/templates/remote.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

CLIRunner splits stderr and stdout.. test fix
  py/cli/run/tests.py
Due: pylint, mypy, pyupgrade, unify, black

made chromatic optional
  py/cli/run/tools/dev.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

rust init
  scripts/init-rust.sh
Due: none

rust init update
  .gitignore
  scripts/init-rust.sh
Due: none

file watch util
  py/cli/run/utils/watch.py
  scripts/init-rust.sh
Due: pylint, mypy, pyupgrade, unify, black, bandit

lint etc for rust
  .pre-commit-config.yaml
  config/pylintrc
  scripts/init-rust.sh
Due: none

watch
  py/cli/run/utils/watch.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

some more security settings
  py/django/app/settingsbase.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

added utility to suppress logs in tests
  py/utils/logexpect.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

logexpect fixes
  config/pylintrc
  py/tests/utils/test_logexpect.py
  py/utils/logexpect.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

some errors are not string-based, e.g. from strawberry-graphql
  py/utils/logexpect.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

expectlog async + mock request updats
  py/test/mock.py
  py/utils/logexpect.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

support for reading in secrets files pointing to other files
  py/cli/run/templates/buildSingleService.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

remove \n from secret
  py/utils/secrets.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

misc fixes. pass k8s context to redis/mysql/postgres
  config/pylintrc
  py/cli/run/templates/buildSingleService.py
  py/cli/run/templates/redis.py
  py/cli/run/utils/mysql.py
  py/cli/run/utils/postgres.py
  py/cli/run/utils/redis_utils.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

help msg
  py/django/commands/management/commands/update_permission_groups.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

helper tool + mypy having issues
  py/cli/run/tools/py.py
  py/django/test/async_helpers.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

template updates
  py/cli/run/utils/template.py
Due: pylint, mypy, pyupgrade, unify, black, bandit

upd pre-commit
  .pre-commit-config.yaml
Due: none

pulled posthog/sentry out of settings
  py/django/app/settingsbase.py
Due: pylint, mypy, pyupgrade, unify, black, bandit
